"*":
  "exception-reporting":
    userId: "83bc3818-ce8e-a472-0dcf-b6306c6c5087"
  welcome:
    showOnStartup: false
  core:
    packagesWithKeymapsDisabled: [
      "word-jumper-deluxe"
    ]
  editor:
    invisibles: {}
    autoIndent: false
  "fuzzy-finder": {}
  "vim-mode": {}
  "atom-beautify":
    _analyticsUserId: "8eb2e61c-ad66-4266-aed1-6f9d491acf1b"
  "disable-keybindings":
    prefixKeys: [
      "ctrl-k"
    ]
  "word-jumper-deluxe": {}
